global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend postgres_front
    bind *:5432
    default_backend postgres_back

backend postgres_back
    mode tcp
    option tcp-check

    server coordinator_primary coordinator:5432 check
    server coordinator_backup coordinator_backup:5432 check backup

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s

